{% extends 'base.html' %}

{% block content %}
{% for llamada in llamadas %}
<div class="col-md-4">
    <div class="post">
        <div class="date">
            Hora de llamada: {{ llamada.created_date }}
        </div>
    
        <h1>Paciente: {{ llamada.id_hora_medica.id_paciente.nombre }} {{ llamada.id_hora_medica.id_paciente.apellidos }}</h1>
        <h2> Doctor que lo atendera: {{ llamada.id_hora_medica.id_medico.nombre}} {{ llamada.id_hora_medica.id_medico.apellidos}}</h2>
        <b> Box en el que sera atendido {{llamada.id_hora_medica.id_boxes}}</b>
    </div>
</div>
{% endfor %}
{% endblock %}