{% extends 'base.html' %}
{% block content %}
{% for paciente in pacientes %}
    <div class="col-md-3 col-md-4">
        <div class="post">
            {% if user.is_authenticated %}
            <h1><a href="{% url 'paciente_detail' pk=paciente.pk %}" style="color:#008cff">{{ paciente.rut }}</a></h1>
            {% else %}
            <h1>{{ paciente.rut }}</a></h1>
            {% endif %} 
            <h3>{{ paciente.nombre }} {{ paciente.apellidos }}</h3>
            <h2>{{ paciente.fecha_nacimiento }}</h2>
            <p>{{ paciente.genero }}</p>
        </div>
    </div>     
{% endfor %}
{% endblock %}